@import url('https://fonts.googleapis.com/css2?family=Acme&family=Viga&display=swap');

/* font-family: 'Acme', sans-serif;
font-family: 'Viga', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}
.App {
  text-align: center;
  background: url(../public/img/bg-branco.jpg) no-repeat center; 
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100vh;
 
}

.App-header {
  display: flex;
  padding-top: 25px;
  margin-top: 0;  
  align-items: center;  
  color: #ffffff;
  width: 100%; 
}

.header-texto h1{
  font-size: 95px;
  /* font-family: 'Viga', sans-serif; */
  color: #65038c;
  text-shadow: #000 2px 3px 2px;
}
.header-texto{ 
  
  background-color:  rgba(255, 140, 0, 0);
  
}
.form-horizontal{
  background-color: #458c0300;
  
}

.entrada{
  padding: 5px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;  
  color: #65038c;
  width: 100%;
  height: 40px; 
  padding:40px;
  font-size: calc(10px + 2vmin);
  /* background-color:#65038c; */
  
}
.navbar img{
  width: 25px;
  margin: 10px;
}
.logos{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoslinks img{
  height: 18px;
  width: auto;
}
.header-texto{ 
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  height: 400px;
  /* padding: 10px; */

}
/* .imput-box{
  width: 350px;
} */

.main{
  margin-top: 80px;
  color: #000000;
  padding: 25px; 
  height: 100%;
  width: 70%;
  /* background-color:#65038c; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  

}

.btns{
  display: flex;
  direction: row;  
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 15px;
  width: 400px;

}
.texto{
  width: 340px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: #ffffff;
  color: #65038c;
}

.button{
  width: 160px;
  height: 40px;  
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
}
.primario{
  background-color: #65038c;
  color: #ffffff;
}
.primario:hover{
  background-color: rgb(199, 199, 199);
}

.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  margin-top: 50px;
  
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.footer a{
  color: #000000;
  text-decoration: none; 
    
}
