@import url('https://fonts.googleapis.com/css2?family=Acme&family=Viga&display=swap');

/* font-family: 'Acme', sans-serif;
font-family: 'Viga', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}
.App {
  text-align: center;
  background: url(../public/img/banner2-g.jpg) no-repeat center; 
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  display: flex;
  padding-top: 25px;
  margin-top: 0;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(5px + 2vmin); */
  color: white;
  width: 100%;  
  /* position: relative; */
  /* background-color:#65038c; */
  
 
}
.header-texto h1{
  font-size: 95px;
  /* font-family: 'Viga', sans-serif; */
}
/* .header-texto{
  margin: 50px;
} */
.entrada{
  padding: 5px;

}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;  
  color: #ffffff;
  width: 100%;
  height: 40px; 
  padding: 20px;
  font-size: calc(10px + 2vmin);
  /* background-color:#65038c; */
  
}
.navbar img{
  width: 25px;
  margin: 10px;
}
.logos{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoslinks img{
  height: 18px;
  width: auto;
}
.header-texto{ 
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 10px; */

}
/* .imput-box{
  width: 350px;
} */

.main{
  margin-top: 60px;
  color: rgb(255, 174, 0);
  /* width: 1200px; */
  height: 100vh;
  /* background-color:#65038c; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  

}
.btns{
  display: flex;
  direction: row;  
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 15px;
  width: 400px;
}
.texto{
  width: 340px;
  height: 30px;
  border-radius: 5px;
  border: none;
}
.button{
  width: 160px;
  height: 40px;  
  background-color: rgb(255, 174, 0);
  border: none;
  border-radius: 5px;
}
.primario{
  background-color: aliceblue;
}
.primario:hover{
  background-color: rgb(199, 199, 199);
}

.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  margin-top: 40px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a{
  color: #ffffff;
  text-decoration: none; 
  
}